* {
    font-family: "Iowan Old Style", "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", serif;
    text-align: left;
    line-height: 1.65;
}

body {
    background-color: var(--bg-color-cv);
    font-size: 18px;
}

.container {
    max-width: 900px;
    min-height: 900px;
    margin: 0 auto;
    background-color: var(--bg-color-cv);
    box-shadow: 0px 3px 10px rgba(57, 49, 40, 0.15);
    padding:30px;
    margin-top:30px;
    margin-bottom: 30px;
    .container-block {
        width: 90%;
        margin: 0 auto;
        padding:20px;
        display: grid;
        grid-template-columns: 2fr 5fr;
        column-gap: 44px;
        .sidebar {
            margin-top: 20px;
        }
    }
}
