@media screen and (max-width: 1024px) {
    .container {
        // padding:0;
        // margin:0;
        box-shadow: none;
        .container-block {

            .sidebar {
                div {
                    text-align: left;
                }                
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 12px;
        margin-top: 0;
        margin-bottom: 0;
        .container-block {
            width: 100%;
            padding: 8px 0;
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            .main {
                order: 1;
            }
            .sidebar {
                order: 2;
                margin-top: 0;
            }
        }
    }
    .header {
        width: 100%;
    }
    .header {
        display: flex;
        align-items: center;
        .title {
            margin: 0;
        }
    }
    .header {
        .title {
            font-size: 32px;
        }
        label {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 32px;
            min-height: 32px;
        }
    }
}
