.experiance {
    .title {
        @include header;
    }
    .experience-item {
        .role {
            @include sub-header;
        }
        .company {
            @include body-text;
            font-weight: bold;
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
        .details {
            @include body-text;
            margin: 6px 0 10px 0;
            padding-left: 22px;
            li {
                @include body-text;
                margin-bottom: 4px;
                text-align: left;
            }
        }
        .technologies {
            @include body-text;
        }
    }
}
