.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        color: var(--fg-color-dark);
        font-weight: bolder;
        text-transform: capitalize;
        font-size: 42px;
        letter-spacing: 0.02em;
        line-height: 1.15;
        margin: 0;
    }
    input[type="checkbox"] {
        width: 0;
        height:0;
        display: none;
    }
    label {
        cursor: pointer;
        color: var(--fg-color-dark);
        
    }
}
