:root {
    --bg-color: #e8e7dc;
    --bg-color-cv: #f2f0e4;
    --fg-color: #272522;
    --fg-color-dark: #1d1c1a;
    --fg-color-body: #2f2d2a;
    --fg-color-title-sm: #66625b;

}

[data-theme='dark'] {
    --bg-color: #2f2e2d;
    --bg-color-cv: #2b2a29;
    --fg-color: #d1cdc6;
    --fg-color-dark: #ece7df;
    --fg-color-body: #c7c2ba;
    --fg-color-title-sm: #9d978e;
}
